.about-us {
    overflow: hidden;
}

.headline {
    background-image: linear-gradient(180deg, rgba(27, 31, 37, 0) 0%, #1b1f25 100%), url("/images/gedung_sentral_yamaha.jpg") !important;
    background-size: cover;
    background-position: 50%;
    padding: 0 30px;
}

.headline-wrapper {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
    padding: 12vw 10px;
}

.headline-wrapper h1,
.headline-wrapper p {
    color: #fff;
}

.section-bg {
    background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
}

.section-bg h2 {
    position: relative;
    margin: 0 auto 20px;
    padding-bottom: 20px;
    width: fit-content;
}

.section-bg h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-bg h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #183f9e;
    bottom: 0;
    left: calc(50% - 20px);
}

.about {
    padding: 60px 30px;
}

.visi-misi {
    padding-top: 60px;
}

.visi-misi .container {
    max-width: 900px;
}

.card {
    padding: 0 30px;
    margin: 0 auto 60px auto;
    max-width: 450px;
    border: 0;
    background: transparent;
}

.card-image img {
    width: 100%;
}

.card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin: -40px auto 0 auto;
    width: calc(100% - 30px);
    display: table;
}

.card-body p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.nilai-nilai {
    padding-top: 60px;
    padding-bottom: 60px;
}

.nilai-nilai .icon-box {
    width: 100%;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
}

.nilai-nilai .icon-box h3 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 28px;
}

.nilai-nilai .icon-box p {
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 0;
}

/* Media screen */
@media only screen and (min-width:425px) {
    .card-body {
        margin-top: -60px;
    }
}

@media only screen and (min-width:640px) {
    .card-body {
        width: calc(100% - 60px);
    }
}

@media only screen and (min-width:900px) {
    .bg-inner {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media only screen and (min-width:1024px) {
    .about-us .headline {
        padding: 0 10%;
    }
}

@media only screen and (min-width:1200px) {
    .headline-wrapper {
        padding: 12vw 80px;
    }

    .headline-wrapper p {
        margin-left: 10vw;
    }
}