.consultation .consultation-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.consultation .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.consultation .banner .image {
    max-height: 355px;
    width: 100%;
    filter: brightness(.4)
}

.consultation .banner .text {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 8vw
}

.consultation .consultation-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: none
}

.btn-primary {
    background-color: #183f9d;
    border-color: #183f9d;
    color: #fff
}

.btn:hover {
    background-color: #fff;
    color: #183f9d
}

@media screen and (min-width:768px) {
    .consultation .consultation-wrapper {
        flex-direction: row;
        max-width: unset;
    }

    .consultation .banner {
        width: 55%;
        min-height: 100vh;
        overflow: hidden
    }

    .consultation .banner .image {
        max-height: none;
        width: auto;
        height: 100%;
    }

    .consultation .banner .text {
        font-size: 4vw
    }

    .consultation .consultation-form {
        width: 45%
    }
}