.contact-detail {
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.contact-detail h3 {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
}

.contact-detail p {
    color: #000 !important;
    margin: 0 0 15px;
}

.contact-detail ul {
    list-style: none;
    padding: 0px;
}

.contact-detail strong {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.contact-detail li {
    margin-bottom: 8px;
    position: relative;
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 15px;
    border-bottom: 1px dashed rgba(102, 102, 102, .3);
    color: #c1c1c1;
}

.contact-detail i {
    position: absolute;
    left: 0;
    top: 5px;
    text-align: center;
    font-size: 25px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 0 solid transparent;
    color: #0e64cc;
}

.contact .contact-form {
    padding: 40px;
    max-width: none;
}