/* Radio Button - Pilihan Topik */
:root {
    --card-padding: 1em;
    --card-radius: 0.5em;
    --color-green: #558309;
    --color-gray: #e2ebf6;
    --color-dark-gray: #c4d1e1;
    --radio-border-width: 2px;
    --radio-size: 1.5em;
}

.choose-option {
    display: grid;
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 60em;
    padding: 0;
}

@media (min-width: 768px) {
    .choose-option {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    background-color: #fff;
    border-radius: 0.5em;
    position: relative;
}

.card:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    .radio {
        position: absolute;
        right: calc(var(--card-padding) + var(--radio-border-width));
        top: calc(var(--card-padding) + var(--radio-border-width));
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff;
        border: var(--radio-border-width) solid var(--color-gray);
        border-radius: 50%;
        cursor: pointer;
        height: var(--radio-size);
        width: var(--radio-size);
        outline: none;
        transition:
            background 0.2s ease-out,
            border-color 0.2s ease-out;
    }
}

.radio::after {
    border: var(--radio-border-width) solid #fff;
    border-top: 0;
    border-left: 0;
    content: '';
    display: block;
    height: 0.75rem;
    left: 25%;
    position: absolute;
    top: 50%;
    transform:
        rotate(45deg) translate(-50%, -50%);
    width: 0.375rem;
}

.radio:checked {
    background: #183f9d;
    border-color: #183f9d;
}

.card:hover .radio {
    border-color: var(--color-dark-gray);
}

.card:hover:checked {
    border-color: #183f9d;
}

.card-body {
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: var(--card-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    transition: border-color 0.2s ease-out;
}

.card:hover .radio {
    border-color: var(--color-dark-gray);
}

.card:hover:checked {
    border-color: #183f9d;
}

.card:hover .card-body {
    border-color: var(--color-dark-gray);
}

.radio:checked~.card-body {
    border-color: #183f9d;
}

.radio:focus~.card-body {
    box-shadow: 0 0 0 2px var(--color-dark-gray);
}

.card:hover .radio:disabled {
    border-color: var(--color-gray);
}

.radio:disabled~.card-body .topik-type {
    color: var(--color-dark-gray);
}

.topik-type {
    color: #183f9d;
    font-size: 16px;
    font-weight: bold;
    width: 80%;
}

#hasil {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.section-angsuran-result {
    display: flex;
    flex-wrap: wrap;
}

.section-angsuran-result .col-md-4 {
    margin: auto;
    text-align: center;
    width: 100%;
}

.btn-ajukan {
    width: 100%;
    margin-top: 1rem;
}

@media only screen and (min-width:768px) {
    .section-angsuran-result .col-md-4 {
        width: unset;
    }

    .btn-ajukan {
        width: 170px;
        height: 135px;
    }
}

.validation-error {
    display: flex;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.validation-error img {
    width: 48px;
    height: 48px;
    display: block;
    margin: auto 0 auto 10px;
}

.validation-error ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.validation-error .side-bg-error {
    background: red;
    width: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}