section {
    margin-bottom: 20px
}

img {
    width: 100%;
    height: 100%
}

.first-section,
.second-section {
    max-width: 2000px
}

/* First Section */

.caption-container {
    display: flex;
    justify-content: space-between
}

.title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #183f9d
}

.price-area {
    font-weight: 700;
    color: #fff;
    background-color: #183f9d;
    padding: 3px 15px
}

.grid-content {
    position: relative;
    width: 250px;
    height: 305px;
    margin: 20px auto;
    box-shadow: 5px 7px 15px 0 rgb(0 0 0 / 60%);
    -webkit-box-shadow: 5px 7px 15px 0 rgb(0 0 0 / 60%);
    -moz-box-shadow: 5px 7px 15px 0 rgb(0 0 0 / 60%)
}

.box-text {
    width: 185px;
    margin-left: 10px;
}

.box-text p {
    font-weight: 700;
    color: #000;
    margin-bottom: 0;
}

.product-name {
    line-height: 18px;
    text-transform: uppercase
}

.product-price {
    position: relative;
    top: -3px;
    font-size: 12px
}

.tombol-biru {
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    bottom: 5px;
    right: 0;
    scale: 0.67
}

/* Second Section */

.second-section {
    padding-top: 20px;
    margin-bottom: 0;
}

.promo-title-container {
    width: 138px;
    height: auto;
    background-color: #ebebeb;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px
}

.promo-title {
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    color: #183f9d;
    margin-bottom: 0;
    text-indent: 8px
}

.promo-banner-container {
    margin: 0 auto
}

.promo-banner-item img {
    box-shadow: 5px 5px 8px 0 rgb(0 0 0 / 60%);
    -webkit-box-shadow: 5px 5px 8px 0 rgb(0 0 0 / 60%);
    -moz-box-shadow: 5px 5px 8px 0 rgb(0 0 0 / 60%);
    cursor: pointer;
}

.thumbnail {
    position: relative;
    overflow: hidden;
}

.thumbnail a {
    position: relative;
}

.thumbnail img {
    display: block;
    transition: opacity 0.3s ease;
}

.thumbnail .middle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}

.thumbnail:hover .middle {
    opacity: 1;
}

.thumbnail .text {
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: #04AA6D;
    padding: 16px 32px;
    opacity: 0;
    transition: opacity 0.3s;
}

.thumbnail:hover .middle .text {
    opacity: 1;
}

@media screen and (max-width:425px) {
    .title {
        font-size: 15px
    }

    .price-area {
        font-size: 10px
    }

    .promo-title {
        font-size: 22px
    }
}

@media screen and (max-width:575px) {
    .promo-banner-container {
        display: flex;
        justify-content: space-around;
    }

    .promo-banner-col {
        width: unset;
    }
}

@media screen and (min-width:768px) {
    .banner-pagination {
        margin-top: 0.5rem;
    }

    .banner-pagination .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
    }
}