body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    font-family: Montserrat, sans-serif;
}

#main-wrapper,
html,
section {
    width: 100%;
    position: relative;
    display: block;
}

.navbar-toggler {
    margin: auto 0;
}

section.separator {
    height: 10px;
    background-color: #6dcbb1
}

section.link-wa {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 47px;
    right: 11px;
    bottom: 15px;
    margin-bottom: 0;
    z-index: 1000;
    background: #26d968;
    border-radius: 10px
}

section.link-wa:hover {
    background-color: #52e086;
    animation: .82s cubic-bezier(.36, .07, .19, .97) both shake;
    transform: translate3d(0, 0, 0);
    perspective: 1000px
}

section.link-wa .konten-gambar {
    width: 40px
}

section.link-wa .konten-gambar img {
    width: 30px
}

a.btn-wa {
    text-decoration: none
}

section.link-wa .konten-wa h3 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0
}

footer {
    margin-top: auto;
    padding-bottom: 10px;
    font-weight: 700;
    color: #183f9d;
}

footer .first-row .caption-first-row,
section.separator {
    margin-bottom: 10px
}

footer .footer-row,
section.link-wa {
    text-align: center
}

footer .first-row .sosmed {
    max-width: 400px;
    margin: 0 auto
}

footer .first-row .sosmed a {
    margin: 0 5%
}

footer .first-row .sosmed img {
    width: 33px
}

footer .line {
    border-bottom: 2px solid #6dcbb1;
    margin: 5px 0
}

footer .second-row {
    font-size: 13px
}

footer .second-row img {
    width: 18px;
    margin-right: 5px
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0)
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0)
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0)
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0)
    }
}

.grecaptcha-badge {
    visibility: hidden !important
}