.navbar {
    position: relative;
    width: 100%;
    background-color: #183f9e;
    z-index: 1;
}

.navbar .container {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
}

.navbar-brand-0 img {
    height: 45px;
    width: 95px;
}

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
}

.navbar li>a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;

}

.navbar li>a:hover::after,
.navbar li>a.active-nav::after {
    width: 100%;
    background: white;
}

@media only screen and (max-width: 425px) {
    .navbar-brand-0 img {
        height: 30px;
        width: 64px;
    }
}