.navbar {
    position: fixed;
    width: 100%;
    background-color: #183f9e;
    z-index: 99
}

header {
    height: 61px
}

.navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start
}

.main-logo .logo-image {
    height: 45px;
    width: 95px
}

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    width: max-content;
    margin: 0 auto
}

.navbar li>a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: 0 0;
    transition: .3s
}

.navbar li>a.active-nav::after,
.navbar li>a:hover::after {
    width: 100%;
    background: #fff
}

@media only screen and (max-width:425px) {
    header {
        height: 56px
    }

    .main-logo {
        margin-top: 5px
    }

    .main-logo .logo-image {
        height: 30px;
        width: 64px
    }
}