.banner {
    display: flex;
    align-items: center;
    background-color: grey;
    height: 400px;
}

.banner h1,
.banner h2 {
    margin: 0 auto;
    color: #ffffff;
}

.first-section .icon-container {
    background: #17285e;
}

.first-section .icon-row {
    display: flex;
    justify-content: space-between;
    height: 85px;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.first-section .icon-row .icon {
    margin: 0 auto;
}

.first-section .icon-row.mobile .icon {
    margin-top: 10px;
}

.first-section .icon-row.pc {
    display: none;
}

.first-section .product-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 104px;
    cursor: pointer;
}

.first-section .product-icon-box:hover {
    background: linear-gradient(180deg, #100E5A 0%, rgba(255, 255, 255, 0) 53%);
}

.first-section .product-icon-box.active {
    background: linear-gradient(180deg, #100E5A 0%, rgba(255, 255, 255, 0) 53%);
}

.first-section .product-icon-box .icon {
    width: 60px;
}

.first-section .product-icon-box a {
    text-decoration: none;
}

.first-section .product-icon-box .text {
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 10px;
}

.second-section {
    margin-bottom: 30px;
}

.second-section .background-wrapper {
    position: absolute;
    width: 100%;
    height: 255px;
    z-index: 0;
}

.second-section .background-wrapper .background {
    width: 100%;
    height: 100%;
    background: url("/images/bg.png");
}

.second-section .title {
    margin: 35px auto 20px;
    color: #1f3781;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
}

.second-section .version-row {
    justify-content: center;
}

.second-section .version {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    margin: 0 3px;
    width: 110px;
    z-index: 1;
    /* transform: skew(-30deg); */
    border-radius: 25px;
    background-color: #6dcbb1;
    cursor: pointer;
    text-decoration: none;
}

.second-section .version.active {
    background-color: #1f3781;
}

.second-section .version .text {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 9px;
    font-weight: 700;
    line-height: 9px;
    margin-bottom: 0;
    /* transform: skew(30deg); */
}

.second-section .caption-box {
    flex-direction: column;
}

.second-section .caption-box .price {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0;
}

.second-section .caption-box .area-price {
    text-align: center;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 700;
}

.second-section .carousel {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.second-section .carousel {
    width: 300px;
}

.second-section .carousel-inner {
    height: 300px;
}

.second-section .carousel-indicators {
    bottom: -40px;
}

.second-section .carousel-control-prev,
.second-section .carousel-control-next {
    display: none;
}

.second-section .caption-box {
    bottom: -65px;
}

@media only screen and (min-width: 545px) {
    .first-section .icon-row.pc {
        display: flex;
    }

    .first-section .icon-row.mobile {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .second-section .background-wrapper {
        height: 390px;
    }

    .second-section .title {
        font-size: 30px;
    }

    .second-section .version {
        height: 40px;
        width: 160px;
    }

    .second-section .version .text {
        font-size: 16px;
    }

    .second-section .carousel {
        width: 520px;
    }

    .second-section .carousel-inner {
        height: 500px;
    }

    .second-section .carousel-control-prev,
    .second-section .carousel-control-next {
        display: block;
    }

    .second-section .carousel-control-prev {
        left: -50px;
    }

    .second-section .carousel-control-next {
        right: -50px;
    }

    .second-section .caption-box {
        bottom: -85px;
    }

    .second-section .caption-box .price {
        font-size: 25px;
    }

    .second-section .caption-box .area-price {
        font-size: 15px;
    }
}