.product-detail .title,
.product-detail .features-content .feature-title {
    text-transform: uppercase;
    font-weight: 700
}

.product-detail .title {
    margin: 35px auto 20px;
    font-size: 20px;
    text-align: center;
    z-index: 1
}

.product-detail .blue {
    color: #1f3781
}

.features-content p,
.product-detail .white {
    color: #fff
}

.first-section .icon-container {
    background: #17285e
}

.first-section .icon-row {
    display: flex;
    justify-content: space-between;
    height: 85px;
    width: 100%;
    max-width: 950px;
    margin: 0 auto
}

.first-section .icon-container .compare-menu {
    background-color: red;
    height: 50px;
    border-radius: 12px;
    margin: auto 0;
}

.first-section .icon-container .compare-menu a {
    color: white;
    font-weight: 700;
}

.first-section .icon-row .icon {
    margin: 0 auto
}

.first-section .icon-row.mobile .icon {
    margin-top: 10px
}

.first-section .mobile .compare-menu {
    margin: 18px 0;
    text-align: center;
    width: 92px !important;
}

.first-section .icon-row.pc,
.second-section .carousel-control-next,
.second-section .carousel-control-prev {
    display: none
}

.first-section .product-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 104px;
    cursor: pointer
}

.first-section .product-icon-box.active,
.first-section .product-icon-box:hover {
    background: linear-gradient(180deg, #100e5a 0, rgba(255, 255, 255, 0) 53%)
}

.first-section .product-icon-box .icon {
    width: 60px
}

.first-section .product-icon-box a,
.review-item a,
.spec-part {
    text-decoration: none
}

.first-section .product-icon-box .text {
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
    margin-top: 10px
}

.first-section .banner {
    display: block
}

.first-section .banner img,
.review-img {
    width: 100%;
    height: 100%
}

.second-section {
    margin-bottom: 30px
}

.second-section .background-wrapper {
    position: absolute;
    width: 100%;
    height: 390px;
    z-index: 0
}

.second-section .background-wrapper .background {
    width: 100%;
    height: 100%;
    background: url("/images/bg.png")
}

.second-section .title {
    margin: 35px auto 20px;
    color: #1f3781;
    font-size: 20px;
    text-align: center;
    z-index: 1
}

.second-section .version-row {
    justify-content: center
}

.second-section .variant-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1
}

.second-section .variant-wrapper li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3px;
    height: 40px;
    width: 160px;
    background: #17285e;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 7px;
    font-weight: 700;
    color: #fff;
    line-height: 15px
}

.second-section .variant-wrapper li:hover {
    background: #183f9e
}

.second-section .variant-wrapper .variant-unit.active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background: #183f9e
}

.second-section .variant-wrapper a {
    position: absolute;
    width: 100%;
    height: 100%
}

.second-section .caption-box .price {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0
}

.second-section .caption-box .area-price {
    text-align: center;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 700
}

.second-section .carousel {
    margin: 0 auto 30px;
    width: 300px
}

.second-section .carousel-inner {
    height: 300px
}

.second-section .carousel-indicators {
    bottom: -40px
}

.second-section .carousel-indicators [data-bs-target] {
    height: 15px;
    border: 1px solid #6dcbb1;
    opacity: unset
}

.second-section .carousel-indicators .active {
    border: 1px solid #000
}

.second-section .carousel-caption {
    flex-direction: column;
    bottom: -65px
}

.second-section .button-compare {
    text-align: center;
    margin-top: 15px
}

.second-section .product-card {
    display: flex;
    justify-content: center;
    max-width: 1095px;
    margin: auto;
}

.second-section .swiper-slide {
    display: flex;
    justify-content: center;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.second-section .swiper {
    max-width: calc(58% - 24px);
    margin-right: 0;
    margin-left: 0;
}

.second-section .swiper img {
    max-width: 520px;
}

.caption-box {
    position: relative;
    width: calc(34% - 24px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.color-wrapper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    opacity: unset;
}

.color-wrapper .swiper-pagination-bullet-active {
    content: '';
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.51);
}

@media screen and (max-width: 900px) {
    .second-section .product-card {
        flex-direction: column;
    }

    .second-section .swiper {
        max-width: 100%;
    }

    .second-section .swiper img {
        width: 100%;
        height: 100%;
    }

    .caption-box {
        margin-top: 15px;
        width: 100%;
    }
}

.third-section {
    padding: 0 5% 15px;
    background: grey
}

.features {
    text-align: center
}

.feature-body {
    text-align: left
}

.features-wrapper {
    max-width: 1350px;
    margin: 0 auto
}

.features-content {
    width: 100%
}

.feature-img {
    width: 100%;
    margin-bottom: 10px
}

.third-section .slick-next {
    right: -10px;
    top: 175px
}

.third-section .slick-prev {
    left: -10px;
    top: 175px
}

.fourth-section {
    margin-top: 10px;
    margin-bottom: 50px
}

.navtabs {
    width: 90%;
    max-width: 1200px;
    margin: 10px auto 50px;
    box-shadow: 0 48px 80px -32px rgba(0, 0, 0, 0.3);
}

.navtabs .container-fluid {
    padding-left: 0;
    padding-right: 0%;
}

.navtabs .spec-wrapper {
    padding: 0 10%
}

.navtabs .carousel-indicators {
    bottom: -45px
}

.navtabs .tab-content {
    padding-bottom: 20px;
}

.nav-tabs .nav-link {
    width: 50%;
    font-weight: 700
}

.spec-part-td1,
.spec-part-td3 {
    width: auto;
    font-size: 12px
}

.spec-part-td2 {
    width: 50px;
    text-align: center
}

.spec-part-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px
}

.spec-part-title b {
    border-bottom: 2px solid
}

.review-wrapper {
    margin-top: 20px;
    margin-bottom: 80px;
    justify-content: center
}

.review-title {
    display: -webkit-box;
    overflow: hidden;
    color: #002fb8;
    font-weight: 700;
    font-size: 15px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
}

.review-item {
    width: 250px;
    height: 100%
}

.videos-wrapper {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    width: 100%
}

.video-item {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@media only screen and (min-width:400px) {
    .features-content {
        width: 320px !important
    }
}

@media only screen and (min-width:545px) {
    .first-section .icon-row.pc {
        display: flex
    }

    .first-section .icon-row.mobile {
        display: none
    }
}

@media only screen and (min-width:568px) {
    .features-content {
        width: 245px !important
    }
}

@media only screen and (min-width:650px) {
    .spec-part-td1 {
        width: 220px;
        font-size: 16px
    }

    .spec-part-td2 {
        width: 50px;
        text-align: center
    }

    .spec-part-td3 {
        width: auto;
        font-size: 16px
    }

    .videos-wrapper {
        padding-bottom: 0;
        height: unset
    }

    .video-item {
        position: relative;
        width: 100% !important;
        height: 365px
    }
}

@media only screen and (min-width:768px) {
    .product-detail .title {
        font-size: 30px
    }

    .second-section .background-wrapper {
        height: 390px
    }

    .second-section .version {
        height: 40px;
        width: 160px
    }

    .second-section .version .text {
        font-size: 16px
    }

    .second-section .carousel {
        width: 520px
    }

    .second-section .carousel-inner {
        height: 500px
    }

    .second-section .carousel-control-next,
    .second-section .carousel-control-prev {
        display: block
    }

    .second-section .carousel-control-prev {
        left: -50px
    }

    .second-section .carousel-control-next {
        right: -50px
    }

    .second-section .carousel-caption {
        bottom: -85px
    }

    .second-section .caption-box .price {
        font-size: 25px
    }

    .second-section .caption-box .area-price {
        font-size: 15px
    }

    .features-content {
        width: 300px !important
    }
}

@media only screen and (min-width:844px) {
    .features-content {
        width: 230px !important
    }
}

@media only screen and (min-width:1024px) {
    .features-content {
        width: 290px !important
    }

    .spec-part-td1 {
        width: 300px
    }
}

@media only screen and (min-width:1200px) {
    .features-content {
        width: 335px !important
    }
}