.product-detail .title {
    margin: 35px auto 20px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
}

.product-detail .blue {
    color: #1f3781;
}

.product-detail .white {
    color: #ffffff;
}

.first-section .icon-container {
    background: #17285e;
}

.first-section .icon-row {
    display: flex;
    justify-content: space-between;
    height: 85px;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.first-section .icon-row .icon {
    margin: 0 auto;
}

.first-section .icon-row.mobile .icon {
    margin-top: 10px;
}

.first-section .icon-row.pc {
    display: none;
}

.first-section .product-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 104px;
    cursor: pointer;
}

.first-section .product-icon-box:hover {
    background: linear-gradient(180deg, #100E5A 0%, rgba(255, 255, 255, 0) 53%);
}

.first-section .product-icon-box.active {
    background: linear-gradient(180deg, #100E5A 0%, rgba(255, 255, 255, 0) 53%);
}

.first-section .product-icon-box .icon {
    width: 60px;
}

.first-section .product-icon-box a {
    text-decoration: none;
}

.first-section .product-icon-box .text {
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 10px;
}

.first-section .banner {
    display: block;
}

.first-section .banner img {
    width: 100%;
    height: 100%;
}

.second-section {
    margin-bottom: 30px;
}

.second-section .background-wrapper {
    position: absolute;
    width: 100%;
    height: 255px;
    z-index: 0;
}

.second-section .background-wrapper .background {
    width: 100%;
    height: 100%;
    background: url("/images/bg.png");
}

.second-section .title {
    margin: 35px auto 20px;
    color: #1f3781;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
}

.second-section .version-row {
    justify-content: center;
}

.second-section .variant-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.second-section .variant-wrapper li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3px;
    height: 40px;
    width: 160px;
    background: #17285e;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 7px;
    font-weight: 700;
    color: #ffffff;
    line-height: 15px;
}

.second-section .variant-wrapper li:hover {
    background: #183f9e;
}

.second-section .variant-wrapper .variant-unit.active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background: #183f9e;
}

.second-section .variant-wrapper a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.second-section .caption-box {
    flex-direction: column;
}

.second-section .caption-box .price {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0;
}

.second-section .caption-box .area-price {
    text-align: center;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 700;
}

.second-section .carousel {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.second-section .carousel {
    width: 300px;
}

.second-section .carousel-inner {
    height: 300px;
}

.second-section .carousel-indicators {
    bottom: -40px;
}

.second-section .carousel-control-prev,
.second-section .carousel-control-next {
    display: none;
}

.second-section .carousel-indicators [data-bs-target] {
    height: 15px;
    border: 1px solid #6dcbb1;
    opacity: unset;
}

.second-section .carousel-indicators .active {
    border: 1px solid #000000;
}

.second-section .caption-box {
    bottom: -65px;
}

.third-section {
    padding: 0 5%;
    padding-bottom: 15px;
    background: grey;
}

.features {
    text-align: center;
}

.feature-body {
    text-align: left;
}

.features-wrapper {
    max-width: 1350px;
    margin: 0 auto;
}

.features-content {
    /* width: 360px !important; pc  */
    width: 100%;
}

.features-content p {
    color: #ffffff;
}

.features-content .feature-title {
    text-transform: uppercase;
    font-weight: 700;
}

.feature-img {
    width: 100%;
    margin-bottom: 10px;
}

.third-section .slick-next {
    right: -10px;
    top: 175px;
}

.third-section .slick-prev {
    left: -10px;
    top: 175px;
}

.fourth-section {
    margin-top: 10px;
    margin-bottom: 50px;
}

.navtabs {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

.navtabs .spec-wrapper {
    padding: 0 2%;
}

.navtabs .carousel-indicators {
    bottom: -45px;
}

.nav-tabs .nav-link {
    width: 50%;
    font-weight: 700;
}

.spec-part-td1 {
    width: auto;
    font-size: 12px;
}

.spec-part-td2 {
    width: 50px;
    text-align: center;
}

.spec-part-td3 {
    width: auto;
    font-size: 12px;
}

.spec-part {
    text-decoration: none;
}

.spec-part-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.spec-part-title b {
    border-bottom: 2px solid;
}

.review-wrapper {
    margin-top: 20px;
    margin-bottom: 80px;
    justify-content: center;
}

.review-right {
    margin-top: 10px;
}

.review-title {
    display: -webkit-box;
    overflow: hidden;
    color: #002fb8;
    font-weight: bold;
    font-size: 15px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.review-img {
    width: 100%;
    height: 100%;
}

.review-item {
    width: 250px;
    height: 100%;
}

.review-item a {
    text-decoration: none;
}

.videos-wrapper {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
    /* padding-bottom: 56.25%;
    height: 0; */
}

.video-item {
    /* display: block !important;
    margin: 0 auto !important;
    width: 295px !important;
    height: 185px; */
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .videos-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.videos-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

/* @media only screen and (min-width: 375px) {
    .video-item {
        width: 325px !important;
        height: 195px;
    }
} */

@media only screen and (min-width: 400px) {
    .features-content {
        width: 320px !important;
    }
}

@media only screen and (min-width: 545px) {
    .first-section .icon-row.pc {
        display: flex;
    }

    .first-section .icon-row.mobile {
        display: none;
    }
}

@media only screen and (min-width: 568px) {
    .features-content {
        width: 245px !important;
    }
}

@media only screen and (min-width: 650px) {
    .navtabs .spec-wrapper {
        padding: 0 10%;
    }

    .spec-part-td1 {
        width: 220px;
        font-size: 16px;
    }

    .spec-part-td2 {
        width: 50px;
        text-align: center;
    }

    .spec-part-td3 {
        width: auto;
        font-size: 16px;
    }

    .videos-wrapper {
        padding-bottom: 0;
        height: unset;
    }

    .video-item {
        position: relative;
        width: 100% !important;
        height: 365px;
    }
}

@media only screen and (min-width: 768px) {
    .product-detail .title {
        font-size: 30px;
    }

    .second-section .background-wrapper {
        height: 390px;
    }

    .second-section .version {
        height: 40px;
        width: 160px;
    }

    .second-section .version .text {
        font-size: 16px;
    }

    .second-section .carousel {
        width: 520px;
    }

    .second-section .carousel-inner {
        height: 500px;
    }

    .second-section .carousel-control-prev,
    .second-section .carousel-control-next {
        display: block;
    }

    .second-section .carousel-control-prev {
        left: -50px;
    }

    .second-section .carousel-control-next {
        right: -50px;
    }

    .second-section .caption-box {
        bottom: -85px;
    }

    .second-section .caption-box .price {
        font-size: 25px;
    }

    .second-section .caption-box .area-price {
        font-size: 15px;
    }

    .features-content {
        width: 300px !important;
    }
}

@media only screen and (min-width: 844px) {
    .features-content {
        width: 230px !important;
    }
}

@media only screen and (min-width: 1024px) {
    .features-content {
        width: 290px !important;
    }

    .spec-part-td1 {
        width: 300px;
    }
}

@media only screen and (min-width: 1200px) {
    .features-content {
        width: 335px !important;
    }
}