@font-face {
    font-family: 'mintmolly';
    src: url(/fonts/Mintmolly-gx1w5.ttf);
}

@font-face {
    font-family: 'BebasNeue';
    src: url(/fonts/BebasNeue-Regular.otf);
}

.quiz-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    text-align: center;
    padding: 0;
    background: #f3e1d0;
    background-size: cover;
    background-image: url("/images/quiz/bg_cover.png");
    background-position-x: 51%;
}

.opening-section {
    padding: 30px 10px;
    height: 580px;
}

.title-wrapper {
    margin: 0 auto;
    max-width: 400px;
    padding: 18px 12px;
    border-radius: 22px;
    background: #1a3f9a;
    box-shadow: 4px 6px #ff6600;
}

.title-wrapper h1 {
    margin: 0;
    color: #fff;
    letter-spacing: 1px;
    font-family: mintmolly;
}

.caption-wrapper {
    margin-top: 60px;
}

.opening-section h2 {
    max-width: 460px;
    margin: 60px auto;
    font-size: 28px;
    color: #383743;
    font-family: mintmolly;
}

.button-wrapper {
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
    background: #ff6600;
}

.quiz-button {
    display: block;
    height: 30px;
    font-size: 25px;
    font-family: BebasNeue;
    color: #fff;
    text-transform: uppercase;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background: #1a3f9a;
}

.opening-section .question-content {
    padding: 20px;
}

.quiz-form {
    display: none;
    margin: 0 auto;
    width: 100%;
}

.quiz-form .question-slide:first-child {
    padding-top: 50px;
}

.quiz-form .question-slide {
    padding-bottom: 70px;
}

.question-image {
    max-width: 930px;
    margin: 0 auto;
}

.question-content {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 8px 10px #193f99;
    border: 3px solid #222f2d;
    background-color: #fcebe4;
    border-radius: 12px;
    padding: 20px 20px 10px 20px;
}

.question-content h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question label {
    font-family: 'mintmolly';
}

.question>label {
    margin-bottom: 15px;
    font-size: 20px;
}

.answer-option {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
    min-width: 70%;
}

.answer-option input {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.answer-option label {
    padding: 15px 8px;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
    color: #222f2d;
    border-radius: 14px;
    border: 4px solid #aa8989;
    background: #ffffff;
    transition: 0.3s;
}

.answer-option:hover label {
    color: #183f9e;
    border: 4px solid #183f9e;
}

.answer-option input:checked+label {
    background: #183f9e;
    color: #fff;
}

.last-question {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
}

.last-question .button-wrapper {
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff6600;
    width: unset;
}

.submit-button {
    border: none;
    color: #ff6600;
    font-family: 'mintmolly';
    padding: 2px 15px;
    margin: 0 5px;
    font-size: 25px;
    height: unset;
}

.result {
    display: none;
}

.result-image {
    max-width: 700px;
    margin: 0 auto;
}

.result-title {
    margin: 30px 0;
}

.result-title h1 {
    color: #383743;
    font-family: mintmolly;
    font-size: 30px;
    display: inline;
}

.result-title h2 {
    font-family: mintmolly;
    font-size: 50px;
    -webkit-text-stroke: 2px #000;
    color: #fff;
    margin: 20px 0;
}

.result-cta {
    display: flex;
    margin: 50px auto;
    max-width: 700px;
}

.result-cta .button-wrapper {
    width: 145px;
}

.result-cta a {
    text-decoration: none;
    line-height: normal;
}

.result-cta a:hover {
    color: #ff6600;
}

@media only screen and (min-width:425px) {
    .title-wrapper {
        width: 100%;
    }
}

@media only screen and (min-width:576px) {
    .question>label {
        font-size: 24px;
    }

    .answer-option label {
        font-size: 22px;
    }

    .submit-button {
        padding: 10px 20px;
        font-size: 38px;
    }

    .last-question .button-wrapper {
        top: 90%;
    }
}