.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(150deg, #ff4086 20%, #fd8d76 100%);
}

.user-profile .container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.top-content,
.bottom-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    gap: 10px;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.top-content {
    background: #fff;
}

.bottom-content {
    background: aliceblue;
}

#dataProfile {
    opacity: 1;
    height: auto;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
    color: rgba(0, 0, 0, 0.6);
}

#dataProfile.hide {
    opacity: 0;
    height: 0;
}

#dataProfile h1 {
    font-weight: bold;
}

.content-avatar {
    top: -68px;
    right: 50%;
    z-index: 2;
    width: 9rem;
    margin: auto;
    height: 9rem;
    position: absolute;
    border-radius: 50%;
    transform: translateX(50%);
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.content-avatar img {
    width: 9rem;
}

.content-title,
.content-contact {
    margin-bottom: 20px;
}

.content-title {
    border-bottom: 1px solid;
}

.content-title p {
    font-size: 32px;
}

.content-contact p {
    font-size: 19px;
    font-weight: bold;
}

.content-contact span {
    font-weight: 500;
}

#editProfileBtn {
    border: none;
    background: transparent;
    padding: 0;
}

.corner-button i {
    margin-right: 5px;
}

#logoutBtn {
    position: absolute;
    top: 27px;
    right: 35px;
    text-decoration: none;
}

#editProfileForm {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

#editProfileForm.active {
    opacity: 1;
    height: auto;
}

#profileForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

#profileForm label {
    font-size: 18px;
    font-weight: 700;
    color: #183f9d;
}

#profileForm .form-control {
    color: #000;
    background-color: #e8e8e8;
    text-align: left;
    border: 1px solid #183f9e;
}

#profileForm .btn-primary {
    background-color: #183f9d;
    border-color: #183f9d;
    color: #fff;
}

#profileForm .btn-primary:hover {
    background-color: #fff;
    color: #183f9d;
}

#errorMessages {
    background: lightgrey;
    color: red;
    border-radius: 8px;
    padding: 5px;
    font-family: ui-monospace;
    display: none;
}

#errorMessages.show {
    display: block;
}

#errorMessages ul {
    margin-bottom: 0;
}

/* Bottom Content */
.bottom-content .info-wrapper {
    color: #31708f;
}

.bottom-content .info-wrapper dl {
    margin-bottom: 0;
}

.bottom-content .no-data {
    margin-top: 50px;
}

.bottom-content .no-data p {
    margin-bottom: 0;
}

.bottom-content h2 {
    text-align: center;
}

.bottom-content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.riwayat-servis-container .have-data p {
    text-align: center;
}

.riwayat-servis-container .list-motor {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.riwayat-servis-container .btn-motor {
    height: 50px;
    width: 185px;
    background: #219bd9;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
}

.riwayat-servis-container .btn-motor span {
    position: relative;
    z-index: 2;
}

.riwayat-servis-container .btn-motor:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 270%;
    width: 180%;
    background: #09468c;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translateX(-26%) translateY(-25%) rotate(509deg);
    transform: translateX(-30%) translateY(-28%) rotate(315deg);
}

.riwayat-servis-container .btn-motor:hover:after {
    -webkit-transform: translateX(-114%) translateY(-25%) rotate(307deg);
    transform: translateX(-114%) translateY(-25%) rotate(307deg);
}

.riwayat-servis-container .btn-motor.active:after {
    background: #219bd9 !important;
}

.btn-tambah {
    height: 50px;
    width: 185px;
    border-radius: 15px;
}

.btn-cetak {
    width: 150px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 15px;
}

dl {
    display: grid;
    grid-gap: 4px 16px;
    justify-content: start;
    justify-items: start;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0;
    grid-column-start: 2;
}

.detail-wrapper {
    width: 720px;
    margin: auto 0;
}

.detail-wrapper ul {
    height: 50px;
}

/* table */
.table-wrap {
    overflow-x: scroll;
    max-width: 800px;
    margin: 50px auto 0 auto;
}

.table {
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
}

.table thead th {
    border: none;
    padding: 30px;
    font-size: 14px;
    color: #000;
    border-bottom: 2px solid #ececec;
    background: #fff;
}

.table tbody th,
.table tbody td {
    border: none;
    padding: 30px;
    font-size: 14px;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

[data-bs-toggle="collapse"] .fa:before {
    content: "\f062";
    font-family: "FontAwesome";
    font-style: normal;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

[data-bs-toggle="collapse"].collapsed .fa:before {
    content: "\f063";
    font-family: "FontAwesome";
    font-style: normal;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.table tbody tr {
    margin-bottom: 10px;
    cursor: pointer;
    background: #fff;
    border-bottom: 2px solid #ececec;
    -webkit-transition: 0.3s easy;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.table tbody td.acc {
    background: #f3f3f3;
    border: none;
}

.table tbody td .fa {
    font-size: 12px;
    color: #28a745;
}

.table-bordered tbody td,
.table-bordered thead th {
    padding: 15px;
}

.user-profile [data-bs-toggle="collapse"] {
    background: #ececec !important;
}

.user-profile [data-bs-toggle="collapse"].collapsed {
    background: #fff !important;
}

.user-profile [data-bs-toggle="collapse"].collapsed:hover {
    background: #ececec !important;
    border-bottom: 2px solid #ececec;
}

@media only screen and (max-width:575px) {
    .content-contact {
        align-items: flex-start;
    }

    .top-content h1 {
        font-size: 20px;
    }

    .content-title p {
        font-size: 23px;
    }

    .content-contact p {
        font-size: 16px;
    }

    .corner-button span {
        display: none;
    }
}

@media only screen and (min-width:768px) {
    #profileForm button {
        width: 150px;
    }
}

.list-wrapper-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.list-wrapper-mobile .modal-content {
    background-color: #183f9e;
    color: #fff;
}

.list-clickable {
    border-radius: 8px;
    border-width: 0 0 1px;
    height: 28px;
    padding: 0;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.15;
    background-color: rgba(0, 0, 0, 0);
    border-color: #eaeaea;
}

.list-text-wrapper {
    display: flex;
    justify-content: space-around;
}

.list-text-wrapper span {
    color: #183f9e;
    font-weight: 500;
}

.list-text-wrapper span:first-child {
    font-weight: bold;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Warna latar belakang transparan */
    z-index: 9999;
    /* Pastikan overlay muncul di atas konten lain */
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}